<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomerSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    @* owl-carousel *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <div style="min-height: 108px;" class="container d-flex">
                <div class="d-flex me-5" style="justify-content: center; flex-direction: column;">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="https://cdn.shopify.com/s/files/1/0044/3328/1139/files/booken-logo_150x.png?v=1615364709"
                            alt="">
                    </a>
                </div>
                <div class="menu d-flex" style='flex: 1; flex-direction: column; justify-content: center;'>
                    <ul class='d-flex p-0 m-0' style='list-style: none;'>
                        <li class='me-5'>
                            <a asp-controller="Home" asp-action="Index"
                                style='text-decoration: none; color: #000'>Home</a>
                        </li>
                        <li class='me-5'>
                            <a asp-controller="Home" asp-action="AboutUs"
                                style='text-decoration: none; color: #000'>About
                                Us</a>
                        </li>
                        <li class='me-5'>
                            <a asp-controller="Home" asp-action="Shop"
                                style='text-decoration: none; color: #000'>Shop</a>
                        </li>
                        <li class='me-5'>
                            <a asp-controller="Home" asp-action="Privacy"
                                style='text-decoration: none; color: #000'>Privacy</a>
                        </li>
                        <li class='me-5'>
                            <a asp-controller="Home" asp-action="ContactUs"
                                style='text-decoration: none; color: #000'>Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
                <div class="custom d-flex" style='flex-direction: column; justify-content:center'>
                    <div class="d-flex">
                        <i class="bi bi-search ms-3"></i>
                        <i class="bi bi-cart4 ms-3"></i>
                        <i class="bi bi-gear-fill ms-3"></i>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Customer Site - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
