@{
    ViewData["Title"] = "About Us";
}

<partial name="_BreadCrumb.cshtml" />

<div class="container">
    <main role="main" class="pb-3" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <img src="https://cdn.shopify.com/s/files/1/0044/3328/1139/files/home-2-siider-1_b7084a39-db26-4dc2-8dfb-5688d8912c2a.png?v=1614845510"
                    alt="">
            </div>
            <div class="col d-flex flex-column justify-content-center">
                <div>
                    <h1 style="color: #ff6162">What We Are.</h1>
                    <div class='my-3' style="border: 2px solid #ff6162; height: 2px; width: 80px;"></div>
                    <h5 class="mb-4">Booken provide how all this Lorem Ipsum is simply dummy</h5>
                    <p>Text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                        dummy.
                    </p>
                    <p>Typesetting, remaining essentially unchanged. It was popularised with the release of Contrary to
                        popular belief, Lorem Ipsum is random text.</p>
                    <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
                </div>
            </div>
    </main>
</div>