@{
    ViewData["Title"] = "Privacy Policy";
}

<partial name="_BreadCrumb.cshtml" />

<div class="container" style="margin-top:50px;">
    <main role="main" class="pb-3">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </main>
</div>