@{
    ViewData["Title"] = "Shop";
}

<partial name="_BreadCrumb.cshtml" />

<div class="container">
    <main role="main" class="pb-3">
        <h1>@ViewData["Title"]</h1>
    </main>
</div>