@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="offset-4 col-4 mt-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Login</h5>
                    <a href="" class="btn btn-success">Forgot your password?</a>
                </div>
                <hr>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-dark">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>