@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="offset-4 col-4 mt-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Login</h5>
                    <a href="">Forgot your password?</a>
                </div>
                <hr>
                <form method="post">
                    <div class="mb-3">
                        <input asp-for="@Model.LoginForm.Username" type="text" class="form-control"
                            placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input asp-for="@Model.LoginForm.Password" type="password" class="form-control"
                            placeholder="Password">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-dark">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>