@page
@model OrderModel
@{
    ViewData["Title"] = "Order";
}

<h1 class="text-center mt-5">Your Order</h1>
<p class="text-center">If you are looking for a website to buy books online, NashBook is a great choice for you.</p>

<div class="container" style="margin-bottom: 200px;">
    <div class="d-flex justify-content-between">
        <p>You Have 3 Items In Your Cart</p>
        <a asp-page="/Products/Index">Back to Store</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="w-50">PRODUCT</th>
                <th class="w-20">QUANTITY</th>
                <th class="w-20">PRICE</th>
                <th class="w-10"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Cart)
            {
                <tr>
                    <td>
                        <div class="d-flex flex-column">
                            <img src="~/images/@item.Image" style="width: 80px;" alt="">
                            <h6>@item.Name</h6>
                        </div>
                    </td>
                    <td class="align-middle">
                        @item.Quantity
                    </td>
                    <td class="align-middle">@item.Quantity X $@item.Price</td>
                    <td class="align-middle text-end">
                        <i class="bi bi-x" style="font-size: 30px;"></i>
                    </td>
                </tr>
            }
            <tr>
                <td class="py-5">Total</td>
                <td colspan="3" class="text-center align-middle fw-bold">$@Model.TotalPrice</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <a class="btn btn-success" asp-page-handler="ClearCart">Clear Cart</a>
        <a class="btn btn-success" asp-page-handler="CheckOut" class="btn btn-success">Check Out</a>
    </div>
</div>