@{
    ViewData["Title"] = "Home";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.shopify.com/s/files/1/0044/3328/1139/files/home-1-slider-1.png?v=1614763716"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.shopify.com/s/files/1/0044/3328/1139/files/home-1-slider-2.png?v=1614763742"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.shopify.com/s/files/1/0044/3328/1139/files/home-1-slider-1.png?v=1614763716"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="category">
    <div>Category 1</div>
    <div>Category 2</div>
    <div>Category 3</div>
    <div>Category 4</div>
    <div>Category 5</div>
</div>

<div class="container">
    <h3 class="text-center">Popular Collections</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus exercitationem pariatur reiciendis
        deserunt beatae accusamus provident praesentium dolores debitis repellat quisquam consequuntur aliquam
        dignissimos, iure voluptatem sunt quasi quam tenetur.</p>
    <div class="feature-menu">
        <div>Best Seller</div>
        <div>Featured</div>
        <div>Lastest</div>
    </div>
</div>