@{
    ViewData["Title"] = "ACCOUNT";
}

<partial name="_BreadCrumb.cshtml" />

<div class="row " style="margin-top: 100px">
    <div class="col-md-4 offset-md-4">
        <div class="card mb-3 border-0" style="background: #f3f3f3">
            <div class="text-center my-4">
                <h2>Reset Your Password</h2>
                <p style="color: #6c757d">We will send you an email to reset your password.</p>
            </div>
            <form class="row mx-5 mb-5">
                <div class="col-md-12 mb-3">
                    <input type="email" class="form-control border-0" id="inputEmail4" placeholder="Email">
                </div>
                <div class="col-12 d-flex justify-content-between">
                    <button type="submit"
                        class="btn btn-secondary opacity-75 px-4 py-2 btn-submit btn-submit--hover">Submit</button>
                    <a asp-controller="User" asp-action="Login" style='text-decoration: none; color: #000'>
                        Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>

<style>
    .btn-submit {
        border: 0;
        border-radius: 0;
    }

    .btn-submit--hover:hover {
        background-color: red;
    }
</style>